@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    width: 100%;
    height: 100%;
    min-width: 1280px;
}

#root {
    width: 100%;
    height: 100%;
}

//@mixin scrollBar($base-color: rgb(0, 0, 0), $scrollbar-width: 8px) {
//    /* 滚动槽 */
//    &::-webkit-scrollbar {
//        width: $scrollbar-width;
//        height: $scrollbar-width;
//    }
//
//    &::-webkit-scrollbar-track {
//        border-radius: 3px;
//        background: rgba($base-color, 0.06);
//        box-shadow: inset 0 0 5px rgba($base-color, 0.08);
//    }
//
//    /* 滚动条滑块 */
//    &::-webkit-scrollbar-thumb {
//        border-radius: 3px;
//        background: rgba($base-color, 0.12);
//        box-shadow: inset 0 0 10px rgba($base-color, 0.2);
//    }
//
//    /* override scrollbar style in FireFox */
//    scrollbar-color: rgba($base-color, 0.06) rgba($base-color, 0.12);
//    scrollbar-width: thin !important;
//}
//
//.scrollBar {
//    @include scrollBar;
//}

$scrollbar-width: 8px;
$base-color: rgb(0, 0, 0);

*{
    /* 滚动槽 */
    ::-webkit-scrollbar {
        width: $scrollbar-width;
        height: $scrollbar-width;
    }

    ::-webkit-scrollbar-track {
        border-radius: 3px;
        background: rgba($base-color, 0.06);
        box-shadow: inset 0 0 5px rgba($base-color, 0.08);
    }

    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: rgba($base-color, 0.12);
        box-shadow: inset 0 0 10px rgba($base-color, 0.2);
    }

    /* override scrollbar style in FireFox */
    scrollbar-color: rgba($base-color, 0.06) rgba($base-color, 0.12);
    scrollbar-width: thin !important;
}

.ant-tabs-content-holder{
    overflow: auto;
}
