@charset "UTF-8";

.nsp-markdown {
    margin: 0 auto;
    padding: 20px 30px 100px;
}

.nsp-markdown h3,
.nsp-markdown h2,
.nsp-markdown h1,
.nsp-markdown h6,
.nsp-markdown h5,
.nsp-markdown h4 {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0;
    font-weight: bold;
    color: #096dd9;
}

.nsp-markdown h6,
.nsp-markdown h5,
.nsp-markdown h4 {
    font-size: 20px;
    padding: 11px 0;
    text-align: center;
    color: #b37feb;
    border-bottom: 1px solid #52c41a;
}

.nsp-markdown {
    font-size: 16px;
}

.nsp-markdown h1 {
    font-size: 28px;
    color: #096dd9;
}

.nsp-markdown h2 {
    font-size: 24px;
}

.nsp-markdown h3 {
    font-size: 20px;
}

.nsp-markdown h5 {
    color: #b37feb;
}

.nsp-markdown h6 {
    color: #f759ab;
}

.nsp-markdown hr {
    border: 1px solid #773098;
    margin: 1.5em auto;
    height: 1px;
}

.nsp-markdown p {
    margin: 1rem 0;
}

.nsp-markdown strong {
    color: #773098;
    font-weight: bold;
}

.nsp-markdown strong em {
    color: black;
    font-weight: bold;
}

.nsp-markdown blockquote {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    margin: 10px 5px;
    border-left: 3px solid #9654b5;
    border-right: 1px solid #9654b5;
    color: #616161;
    quotes: none;
    background: #fbf9fd;
}

.nsp-markdown blockquote p {
    margin-bottom: 0;
}

.nsp-markdown p code,
.nsp-markdown li code,
.nsp-markdown ol code {
    display: inline-block;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.1em 0.2em;
    background-color: #f7f7f7;
    word-break: break-all;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    white-space: pre;
    line-height: 1.3;
    margin: -0.2em 0.4em;
    color: #1890ff !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) !important;
    border: 1px solid #d9d9d9 !important;
}

.nsp-markdown img {
    display: inline-block;
    max-width: 100%;
}

.nsp-markdown div[class=table] {
    overflow: auto;
}

.nsp-markdown table {
    border-collapse: collapse;
    margin: 10px 0;
    text-align: center;
}

.nsp-markdown table td,
.nsp-markdown table th {
    border: 1px solid #cad9ea;
    color: #666;
    padding: 8px;
}

.nsp-markdown table thead th {
    background-color: #409eff;
    width: 100px;
    word-break: keep-all;
    white-space: nowrap;
    color: #ffffff;
}

.nsp-markdown table tr:nth-child(odd) {
    background: #ffffff;
}

.nsp-markdown table tr:nth-child(even) {
    background: #F5FAFA;
}

.nsp-markdown table tr:hover {
    background-color: #f5f5f5;
}

.nsp-markdown ol,
.nsp-markdown ul,
.nsp-markdown dl {
    padding-left: 1.5em;
}

.nsp-markdown li {
    margin: 0.5rem 0;
}

.nsp-markdown ul {
    list-style: disc;
}

.nsp-markdown pre{
    padding: 1rem;
    border-radius: 0.5rem;
}