name: REALEASE

on: workflow_dispatch

permissions:
  contents: write
  discussions: write
  deployments: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: production deploy
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
        env:
          CI: true
          PROGRESS: none
          NODE_ENV: test
          NODE_OPTIONS: --max_old_space_size=4096
      - name: pnpm install
        run: |
          echo ${{github.ref}}
          pnpm install
      - name: Build
        run: |
          echo ${{github.workspace}}
          pnpm build
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with: 
          name: my-artifact
          path: apps/tools-site/dist
  deploy:
    runs-on: ubuntu-latest
    needs: build
    name: environments deployment
    environment: 
      name: Netlify
      url: ${{ steps.netlify.outputs.deploy-url }}
    steps:
      - uses: actions/checkout@v3
      - name: echo
        run: echo ${{needs.build.outputs.output1}}
      - uses: actions/download-artifact@v3
        with:
          name: my-artifact
      - name: Display structure of downloaded files
        run: ls -R
      - name: Deploy to Netlify
        id: netlify
        uses: nwtgck/actions-netlify@v2.0.0
        with:
          publish-dir: "apps/tools-site/dist"
          production-deploy: true
          enable-pull-request-comment: true
          enable-commit-comment: true
          enable-commit-status: true
          overwrites-pull-request-comment: true
          enable-github-deployment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1
    
